<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
<customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200"/>
  </system.web>
  <connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=DESKTOP-7O5N3GN;Initial Catalog=KenParkDB; Integrated Security=true " providerName="System.Data.SqlClient"/>
    <!--<add name="MyConnectionString" connectionString="Data Source=BD-DB-SQLSRV4\SQL2012_DB04;Initial Catalog=KenParkDB;User ID=TPS;Password=software@$0007;connection reset = true;connection lifetime =10;enlist=true;min pool size=1;max pool size=999;timeout=0;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <!--new add 16-05-2018-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!--50MB-->
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>
<!--ProjectGuid: {d3e6723f-a535-4c36-b8c8-035670cb4217}-->